{% extends 'base.html.twig' %}

{% block body %}

<article>
    <h2>{{article.title}}</h2>
    <div class="metadata"> Writing of the {{article.createAt | date('d/m/Y')}} at {{article.createAt | date('H:i')}} in the category {{article.category.title}}</div>
    <br>
         <div class="content">
            <div class="content">
                <center>
                    <img src="{{ article.image}}" alt=""/>
                </center>
                 <br>
                {{ article.content | raw}}
                <br>
                <br>
            </div>
        </div>
</article>

<section id="comments">
<h1> {{article.comments | length}} comments : </h1>
    {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{comment.author}} (<small> {{comment.createdAt | date ('d/m/Y at H:i')}} </small>)
                </div>
                <div class="col">
                    {{comment.content | raw}}
                </div>
            </div>
        </div>
    {% endfor %}

{% if app.user %}
    {{ form_start(commentForm)}}
    {{ form_row(commentForm.author, {'attr': {'placeholder': "Your name"}})}}
    {{ form_row(commentForm.content, {'attr': {'placeholder': "Your comment"}})}}

    <button type="submit" class="btn btn-success">Submit comment</button>

   {{ form_end(commentForm)}}
   
{% else %}
    <h3>You must be logged in to write comments</h3>
    <a href="{{path('security_login')}}" class="btn btn-primary">Login</a>

{% endif %}
</section>

{% endblock %}